* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#ft_holder {
  background-color: rosybrown;
  height: 100vh;
}

/* container for slider */
.ft_container {
  width: 60%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
}

/* images  */
.ft_slider {
  display: none;
}
.ft_slider > img {
  height: 70vh;
  width: 100%;
  border-radius: 15px;
  vertical-align: middle;
  width: 100%;
}

/* prev and next button */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  transform: translate-Y(50%);
  color: rgb(114, 3, 40);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* animation of slide  */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 300px) {
  .prev,
  .next {
    font-size: 11px;
  }
}

/* dot */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  position: -webkit-sticky;
  position: sticky;
  top: 50%;
  background-color: rgb(240, 231, 231);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: rgb(114, 3, 40);
}
